<header>
  <p style="cursor: pointer; font-size: 1.25rem;" [routerLink]="['/employee-list']">Back Office</p>
  <div style="display: flex; align-items: center;">
    <p-button class="mr-2" size="small" [icon]="'pi pi-sun'" [outlined]="false" severity="secondary" (click)="changeTheme()"></p-button>
    <p-button size="small" severity="danger"
      (onClick)="logout()" [outlined]="false">Logout</p-button>
  </div>
</header>