<app-app-layout>
  <div>

    <h1 class="mt-0">Welcome {{username}} 🥳</h1>
    
    <div class="mb-4">
      <p-button label="Create Employee" icon="pi pi-plus" size="small" (click)="createEmployee()"></p-button>
    </div>

    <div class="card">
      <p-table
        #dt
        [value]="employees"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} employees"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[10, 20, 50, 100]"
        [globalFilterFields]="['username', 'status', 'basicSalary', 'group']"
      >
        <ng-template pTemplate="caption">
        <div class="table-bar">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [value]="searchKey" (input)="filterGlobal($event)" placeholder="Search any keyword" />
            </span>
            <p-button pRipple label="Clear"  size="small" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt)"></p-button>
        </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="username" style="width:20%;">Username <p-columnFilter type="text" field="username" display="menu"/> <p-sortIcon field="username"/> </th>
            <th pSortableColumn="email" style="width:20%;">Email <p-columnFilter type="text" field="email" display="menu"/> <p-sortIcon field="email"/></th>
            <th pSortableColumn="basicSalary" style="width:20%;">Basic salary <p-columnFilter size="small" type="numeric" field="basicSalary" display="menu"/> <p-sortIcon field="basicSalary"/></th>
            <th pSortableColumn="group" style="width:20%;">Group <p-columnFilter type="text" field="group" display="menu"/> <p-sortIcon field="group"/></th>
            <th pSortableColumn="status" style="width:20%;">Status <p-columnFilter type="text" field="status" display="menu"/> <p-sortIcon field="status"/></th>
            <th style="width:50%">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee et-columns="columns">
          <tr>
            <td>
              <p-button 
                severity="info"
                [link]="true"
                [routerLink]="['/employee-detail', employee.username]"
              >
                {{ employee.username }}
              </p-button>
            </td>            
            <td>{{ employee.email }}</td>
            <td>{{ employee.basicSalary | currencyFormat }}</td>
            <td>{{ employee.group }}</td>
            <td><p-tag [value]="employee.status" [severity]="getStatus(employee.status)"></p-tag></td>
            <td>
              <div class="action-btn">
                <p-button pRipple class="mr-2" label="Edit"  size="small" severity="warning" icon="pi pi-pencil" (onClick)="editNotification(employee)"></p-button>
                <p-button pRipple label="Delete"  size="small" severity="danger" icon="pi pi-trash" (onClick)="deleteNotification(employee)"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Employee not found.</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</app-app-layout>