.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.register-box {
  width: 310px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  background-color: var(--primary-color);
}

.register-box h2 {
  margin-bottom: 20px;
  text-align: center;
  color: var(--gray-50);
}

.register-form{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: .75rem;
  flex-direction: column;
}

.login-link {
  margin-top: 20px;
  text-align: center;
}

.login-link a {
  text-decoration: none;
  color: var(--gray-50);
}
