<app-empty-layout>
  <div class="register-container">
    <div class="register-box">
      <h2>Register Form</h2>
      <form class="register-form">
        <input class="mt-4" placeholder="Username" type="text" pInputText #username required />
        <p-password class="mb-4" placeholder="Password" #password required></p-password>
        <button type="button" pButton label="Register"
          class="p-button-raised p-button-secondary"
          (click)="register(username.value, password.value)"></button>
      </form>
      <div class="login-link">
        <a routerLink="/login">Already have an account? Login here</a>
      </div>
    </div>
  </div>
</app-empty-layout>