<app-app-layout>
  <h1 class="mt-0">Employee Detail</h1>
  @if (employee) {
    <p-card class="employee-card" [header]="employee.firstName + ' ' + employee.lastName">
      <ng-template pTemplate="content">
        <div class="p-grid">
          <div class="p-col-12">
            <p>Username: {{ employee.username }}</p>
            <p>Email: {{ employee.email }}</p>
            <p>Birth Date: {{ employee.birthDate }}</p>
            <p>Basic Salary: {{ employee.basicSalary | currencyFormat }}</p>
            <p>Status: {{ employee.status }}</p>
            <p>Group: {{ employee.group }}</p>
            <p>Description: {{ employee.description }}</p>
          </div>
        </div>
      </ng-template>
    </p-card>

    <div class="mt-8">
      <p-button label="Ok"  size="small" [routerLink]="['/employee-list']"></p-button>
    </div>
  }
</app-app-layout>