<app-app-layout>
  <div>
    <p-panel header="Create Employee">
      <form #employeeForm="ngForm">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field mb-4 p-col">
            <label class="mb-2 text-bold" for="username">Username</label>
            <input type="text" id="username" name="username" pInputText [(ngModel)]="employee.username" required>
          </div>
          <div class="p-field mb-4 p-col">
            <label class="mb-2 text-bold" for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" pInputText [(ngModel)]="employee.firstName" required>
          </div>
          <div class="p-field mb-4 p-col">
            <label class="mb-2 text-bold" for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" pInputText [(ngModel)]="employee.lastName" required>
          </div>
          <div class="p-field mb-4 p-col">
            <label class="mb-2 text-bold" for="email">Email</label>
            <input type="email" id="email" name="email" pInputText [(ngModel)]="employee.email" required email>
            <div *ngIf="employeeForm.controls['email'].invalid && (employeeForm.controls['email'].dirty || employeeForm.controls['email'].touched)" class="text-danger">
              Please enter a valid email.
            </div>
          </div>
          <div class="p-field mb-4 p-col">
            <label class="mb-2 text-bold" for="birthDate">Birth Date</label>
            <p-calendar id="birthDate" name="birthDate" [(ngModel)]="employee.birthDate" [maxDate]="maxDate" [showIcon]="true" [required]="true"></p-calendar>
            <div *ngIf="employeeForm.controls['birthDate'].invalid && (employeeForm.controls['birthDate'].dirty || employeeForm.controls['birthDate'].touched)" class="text-danger">
              Birth date cannot be after current date.
            </div>
          </div>
          <div class="p-field mb-4 p-col">
            <label class="mb-2 text-bold" for="basicSalary">Basic Salary</label>
            <input type="text" id="basicSalary" name="basicSalary" pInputText [(ngModel)]="employee.basicSalary" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number.">
            <div *ngIf="employeeForm.controls['basicSalary'].invalid && (employeeForm.controls['basicSalary'].dirty || employeeForm.controls['basicSalary'].touched)" class="text-danger">
              Please enter a valid number.
            </div>
          </div>
          <div class="p-field mb-4 p-col">
            <label class="mb-2 text-bold" for="status">Status</label>
            <p-dropdown [options]="statusOptions" id="status" name="status" [(ngModel)]="employee.status" [filter]="true" [showClear]="true" [required]="true"></p-dropdown>
          </div>
          <div class="p-field mb-4 p-col">
            <label class="mb-2 text-bold" for="group">Group</label>
            <p-dropdown [options]="groupOptions" id="group" name="group" [(ngModel)]="employee.group" [filter]="true" [showClear]="true" [required]="true"></p-dropdown>
          </div>
          <div class="p-field mb-4 p-col">
            <label class="mb-2 text-bold" for="description">Description</label>
            <input type="text" id="description" name="description" pInputText [(ngModel)]="employee.description" [required]="true">
          </div>
        </div>
        <div class="p-grid p-justify-between mt-4">
          <!-- <button type="button" pButton icon="pi pi-save" (click)="save(employee)" label="Save" [disabled]="employeeForm.invalid"></button> -->
          <p-button class="mr-2" pRipple size="small" label="Save"  icon="pi pi-save" (click)="save(employee)" [disabled]="$any(employeeForm.invalid)"></p-button>
          <p-button pRipple size="small" label="Cancel"  severity="danger" icon="pi pi-times" (click)="cancel()"></p-button>
        </div>
      </form>
    </p-panel>
  </div>
</app-app-layout>
