.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.login-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: .75rem;
  flex-direction: column;
}

.register-link {
  margin-top: 20px;
  text-align: center;
}

.register-link a {
  text-decoration: none;
}
