<app-empty-layout>
  <div class="login-container">
    <div class="login-box">
      <h2>Login Form</h2>
      <form class="login-form">
        <input class="mt-4" placeholder="Username" type="text" pInputText #username required />
        <p-password class="mb-4" placeholder="Password" #password [feedback]="false"></p-password>
        <button type="button" pButton label="Login"
          class="p-button-raised p-button-primary"
          (click)="login(username.value, password.value)"></button>
      </form>
      <div class="register-link">
        <a routerLink="/register">Don't have an account? Register here</a>
      </div>
    </div>
  </div>
</app-empty-layout>