/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-4 {
  margin-bottom: 1rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: .5rem;
  display: block;
}

.mt-8 {
  margin-top: 2rem;
}

.text-light {
  color: #4b5563;
}

.text-bold{
  font-weight: bold;
}